// section{
//     margin-top: 10%;
// }
nav{
    background: linear-gradient(to bottom, #039be5, #0277bd);
}

.success{
    color: green;
}

.invalid{
    color: red;
}

.btn{
    background: linear-gradient(to bottom, #039be5, #0277bd);
}

.sign{
    background: linear-gradient(to bottom, #039be5, #0277bd);
}

.footer{
    background: linear-gradient(to bottom, #039be5, #0277bd);
}

.foot{
    background: #01579b;
}

