.view{
    background: linear-gradient(to bottom, #039be5, #0277bd);
}
.panel{
    background: linear-gradient(to bottom, #fff8e1, #f8f1da);
}
.container{
    background: linear-gradient(to bottom, #d3c393e7, #ccbd8ee7);
    border-radius: 10px;
}