.sec2{
    background:
    linear-gradient(135deg, #fae7af 21px, #ffe082 22px, #ffe082 24px, transparent 24px, transparent 67px, #ffe082 67px, #ffe082 69px, transparent 69px),
    linear-gradient(225deg, #fae7af  21px, #ffe082 22px, #ffe082 24px, transparent 24px, transparent 67px, #ffe082 67px, #ffe082 69px, transparent 69px)0 64px;
    background-color:#ffecb3e7;
    background-size: 64px 128px;
}